<div class="content">
  <table mat-table class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> p_id </th>
      <!-- <td mat-cell *ngFor="let product of products$ | async"> {{product.p_id}} </td> -->
      <td mat-cell *matCellDef="let products"> 1 </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> p_name </th>
      <td mat-cell *matCellDef="let products"> 田中</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> p_description </th>
      <td mat-cell *matCellDef="let products"> あいう </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> p_price </th>
      <td mat-cell *matCellDef="let products"> 1000円 </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<p *ngFor="let post of posts$ | async">{{ post.content }}</p>

<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="create(createNgForm)"
    #createNgForm="ngForm"
  >
    <mat-form-field class="name-input" appearance="legacy">
      <mat-label>タイトル</mat-label>
      <input
        formControlName="title"
        placeholder="例：新規ビジネス立ち上げに興味ある方"
        type="text"
        matInput
        autocomplete="off"
        required
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Textarea</mat-label>
      <textarea
        formControlName="content"
        placeholder="例：現在ITに関する新規事業を立ち上げようと思いエンジニアを募集しています。興味ある方はご応募ください。"
        matInput
        autocomplete="off"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="10"
        required
      ></textarea>
      <mat-error *ngIf="contentControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="contentControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>カテゴリー</mat-label>
      <mat-select formControlName="category">
        <mat-option value="search">探しています</mat-option>
        <mat-option value="help">手伝います</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-footer">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
      >
        募集する
      </button>
    </div>
  </form>
</div>
